body {
  font-family:'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: aquamarine;
  padding: 1em;
}

#footer{
  position: absolute;
  bottom: 1em;
}